<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Taskly{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <h2>Taskly </h2>

        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('add_task') }}">Add Task</a></li>
            <!-- <li><a href="{{ url_for('categories') }}">Categories</a></li> -->

            {% if session.get("user_id") %}

                <li>{{ session["username"] }}</li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>

            {% else %}

                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>

            {% endif %}
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>